.company {
  text-transform: uppercase;
  font-weight: 300;
  color: #030202;
}
.date, .location {
  text-transform: uppercase;
  font-weight: 300;
  color: #666666;
  margin-bottom: 0;
}

.location {
  margin-left: 5px;
}

.sub-position {
  margin-left: 10px;
  font-weight: 300;
  color: #666666;
}
